body {
    background-image: url("/FE/images/Background.webp");
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
}


.registrationForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.navBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(255, 120, 161, 0.853);
    color: white;
}

.navTitle {
    text-align: center;
    margin: auto auto auto 0;
    font-size: 2em;
}

.navOptions {
    width: 50%;
    height: 100%;
    display: flex;
}

.navOptions ul {
    width: 100%;
    list-style: none;
    border: 2px solid white;
    display: flex;
    justify-content: space-around;
    justify-items: center;
}

.navOptions li {
    font-size: larger;
}

.navOptions li:hover {
    background-color: rgba(167, 167, 167, 0.915);
    border-radius: 0px 50px;
}
a,
a:visited {
    color: inherit;
}

.formTitle {
    padding-top: 2%;
    text-align: center;
}

.registrationData {
    background-color: white;
    padding: 5% 5% 5% auto;
    margin-top: 6%;
    border-radius: 5%;
    width: 40%;
    border: 1.75px solid rgba(255, 76, 76, 0.51);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.inputData {
    margin: 0% 3% 0% 3%;
}

.inputData1 {
    margin: 0% 3% 1.75% 3%;
}

.buttons {
    margin-bottom: 3%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 1.75rem;
    gap: 2rem;
}

.btn1 {
    width: 30%;
    height: 100%;
    background-color: rgba(255, 71, 203, 0.911);
    border-radius: 65% 15%;
}

.btn2 {
    width: 30%;
    height: 100%;
    background-color: rgb(196, 196, 255);
    color: black;
    border-radius: 80% 10%;
}

.ItemsRowsGrouping {
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap:wrap;
}

.Items {
    width: 280px;
    margin: 2%;
    display: flex;
    justify-content: space-between;
}

.Items img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    background-color: white;
}
