body {
    font-family: Arial, sans-serif;
    background-image: url("/datingApp/FE/images/Background.webp");
    background-size: cover;
    background-repeat: no-repeat;
    margin:0;
    padding: 0;
}


.registrationForm{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

input{
    border-radius: 8%;
}

.navBar{
    display:flex;            
    justify-content: space-between;
    align-items: center;
    background-color: rgba(255, 120, 161, 0.853);
    color: white;
}

.navTitle{
    padding-left: 2%;
    text-align: center;
    margin: auto auto auto 0;
    font-size:2em;
}

.navOptions{
    width:50%;
    height:100%;
    display: flex;
}

.navOptions ul{
    width:100%;
    list-style: none;
    display: flex;
    justify-content: space-around;
    justify-items: center;
}

.navOptions li {
    font-size: larger;
}

.navOptions li:hover {
    background-color: rgba(96, 96, 96, 0.915);
    border-radius: 0px 50px;
}

.optionData {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.optionDataTitle {
    display: flex;
    justify-content: center;
}

.colDisplay {
    display: flex;
    flex-direction: column;
}

.rowDisplay {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.rowData {
    width: 40%;
    font-size: 1rem;
    background-color: #BCBCBC;
}

a,
a:visited {
    color: inherit;
}

.formTitle{
    padding-top: 5%;
    text-align: center;
}

.registrationData{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}


.ItemsRowsGrouping {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap:wrap;
}

.rowData {
    width: 40%;
    font-size: 1rem;
    background-color: white;
}

.Items {
    /* width: 280px; */
    margin: 2%;
    display: flex;
    justify-content: space-between;
}

.Items img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    background-color: white;
}

.acceptButtons{
    background-color: rgba(255, 71, 203, 0.911);
    border-radius: 65% 15%;
    color:white
}

.blockButtons{
    background-color: rgb(196, 196, 255);
    color: black;
    border-radius: 80% 10%;
}
